.title{
    margin: 0 auto;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    text-align: center;
}

.body{
 display: grid;
 grid-template-rows: 50% 50%;
 grid-gap: 10px;
}

.compounderSection{
  display: grid;
  grid-row: 1;
  grid-template-columns: 33% 33% 33%;
}

.compounderCost{
  grid-column: 1;
  width: 70%;
  margin: auto;
}

.clickCompounderButton{
  grid-column: 2;
  width: 50%;
  margin: auto;
}

.clickCompounderButton:hover{
  cursor: pointer;
}

.clickCompounderCount{
  grid-column: 3;
}

.companionSection{
  display: grid;
  grid-row: 2;
  grid-template-columns: 33% 33% 33%;
}

.companionCost{
  grid-column: 1;
  width: 70%;
  margin: auto;
}

.clickCompanionButton{
  grid-column: 2;
  width: 50%;
  margin: auto;
}

.clickCompanionButton:hover{
  cursor: pointer;
}

.clickCompanionCount{
  grid-column: 3;
}

.clickButton{
    padding: 0;
    border: none;
    background: none;
}

.clickButton:focus{
  border: none;
  outline: none;
}

.donutButton:hover{
  cursor: pointer;
}

.donutButton{
    padding: 1rem;
    border: none;
    background: none;
    height: 9rem;
    width: 9rem; 
}